body, html {
	background-color: black;
	margin: 0;
	padding: 0;
	overflow: hidden;
	overflow-x: hidden;
	height: 100%;
}

#app {
	height: 100%;
}

* {
	-webkit-tap-highlight-color: transparent;
	box-sizing: border-box;
}

.material-symbols-outlined {
	font-variation-settings:
	'FILL' 0,
	'wght' 400,
	'GRAD' 0,
	'opsz' 48
}
